<h1>ユーザー情報</h1>
<hr>
<p>名前：<%= @user.family_name %><%= @user.first_name %>さん（<%= @user.age %>歳）</p>
<p>自己紹介：<%= @user.self_introduction %></p>
<hr>
<h4>伝言板</h4>

<% @messages.each do |m| %>
  <hr>
  <h5><%= m.id %> : <a href="/users/<%= User.find(m.user_id).id %>"><%= User.find(m.user_id).family_name %><%= User.find(m.user_id).first_name %>さん</a>の投稿</h5>
  <p><%= m.content %></p>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_area :content, :class => "form_control my-form", :placeholder => "なにか伝言を残そう!" %>
  <%= f.hidden_field :receiver, :value => @user.id %>
  <br>
  <%= f.submit "登録する", :class => "btn btn-warning" %>
<% end %>
<hr>
<p><a href="/users" class="btn btn-primary">ユーザー一覧に戻る</a></p>
<% if @user.id == current_user.id %>
  <p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">ユーザー情報を編集する</a>
<% end %>